<div class="container">
    <section class="section">
        <div class="section-content">
            <p>
                <span class="highlight-text">LT Aerial Bunched Cables (ABC)</span> are IS-14255 compliant, featuring
                hard-drawn Aluminium conductors with XLPE/PE insulation and phase identification ridges. Designed for
                overhead power distribution, they offer reliability, safety, reduced power losses, and cost-effective
                installation. Ideal for LT distribution lines. LT Aerial Bunched Cables prevent power theft and are
                widely used in rural, urban, and space-restricted areas, ensuring stable voltage and superior
                conductivity.
            </p>
        </div>
    </section>
    <div class="section key-features">
        <h2 class="section-heading">Key Features</h2>
        <ul class="section-content">
            <li><strong>Standard:</strong> IS-14255:1995 with Latest Amendments compliant</li>
            <li><strong>Insulation:</strong> XLPE/PE applied using the extrusion process for improved durability</li>
            <li><strong>Conductor Types:</strong>
                <ul>
                    <li>Phase/Street Lighting Conductor: Hard-drawn Aluminium (H2/H4 grade, IS: 8130:1984 with Latest
                        Amendments standards)</li>
                    <li>Messenger Conductor: Aluminium-Magnesium-Silicon type Alloy (IS: 398- Part 4 :1979 Part 4 with
                        Latest Amendments)</li>
                </ul>
            </li>
            <li><strong> Identification of Core:</strong> The phase conductors are identified by ridges on the
                insulation:
                <ul>
                    <li>1 ridge for the 1st phase
                    </li>
                    <li>2 ridges for the 2nd phase
                    </li>
                    <li>3 ridges for the 3rd phase
                    </li>
                    <li>The neutral conductor, if required, can have 4 ridges for easy identification.
                    </li>
                    <li>The Street is without any ridges
                    </li>
                </ul>
            </li>
            <li><strong>Colour of Insulation:</strong> Black. To protect against UV degradation while exposure to
                sunlight, the insulation is mixed with carbon black, preventing deterioration of polyethylene and
                ensuring longevity.
            </li>
            <li><strong>Assembling:</strong>The phase conductors, along with the lighting conductor (when applicable),
                are twisted around the messenger conductor, ensuring a compact and secure construction.
            </li>
        </ul>
    </div>

    <section class="section construction-section">
        <h2 class="section-heading">Cable Construction & Specifications</h2>
        <ul class="section-content">
            <li>The phase conductor can be single-phase or three-phase, depending on the specific application.
            </li>
            <li> The lighting conductor can be incorporated to supply street lighting.
            </li>
            <li>The phase and street light conductor consist of concentrically stranded compacted aluminium wires.
            </li>
            <li>The messenger conductor supports the weight of the cable, maintains tension in the assembly and acts as
                a neutral path and can be either bare or insulated, based on the customer’s requirements.
            </li>
            <li>The messenger conductor is made of a Aluminium-Magnesium-Silicon type Alloy wires for added durability.
            </li>
        </ul>

        <h3 class="section-subheading">LT AERIAL BUNDLED CONDUCTOR (ABC) POLYMERIC INSULATED AS PER BS: 7870 (PT-5) 1999
        </h3>
        <div class="pdf-section">
            <p> technical data of LT aerial bundled conductors</p>
            <a target="_blank" href="/assets/products-data/LT_AB_Cable_Technical_Data.pdf" rel="noopener noreferrer"><button class="section-button">LT_aerial_technical_data</button></a>
        </div>

    </section>

    <section class="section advantages-section">
        <h2 class="section-heading">Why Choose Our LT Aerial Bunched Cables?</h2>
        <div class="advantages-grid section-content">
            <div class="advantage-card">
                <h3>Lightweight Design</h3>
                <p>Easy handling and installation.</p>
            </div>
            <div class="advantage-card">
                <h3>Flexible Termination</h3>
                <p>Can be terminated or branched off even on live wires.</p>
            </div>
            <div class="advantage-card">
                <h3>Protection Against Power Theft</h3>
                <p>Robust design prevents unauthorized tapping.</p>
            </div>
            <div class="advantage-card">
                <h3>Easy Installation</h3>
                <p>These cables can be installed on poles, walls, or other structures with minimal effort.
                </p>
            </div>
        </div>
    </section>

    <section class="section applications-section">
        <h2 class="section-heading">Applications</h2>
        <ul class="section-content">
            <li>Utility networks</li>
            <li>Street lighting</li>
            <li>Outdoor electrical installations</li>
        </ul>
    </section>
</div>