<div class="container">
    <section class="section">
        <p class="section-content">
            We manufacture a wide variety of<span class="highlight-text"> All Aluminium Conductors (AAC)</span> using
            E.C.GRADE aluminium, ensuring purity
            of minimum 99.55%. The entire assortment of aluminum conductors are widely demanded in urban areas for short
            spacing. These conductors are made with one or more strands depending upon the usage requirements. Also,
            these conductors are ideal for coastal areas due to its high degree rust resistance features.
        </p>


    </section>

    <section class="section construction-section">
        <h2 class="section-heading">Specifications</h2>

        <h3 class="section-subheading">Stranded bare aluminium Conductor(AAC)BS-215-I:1970</h3>

        <div class="pdf-section">
            <p>technical data of AA conductors </p>
            <a target="_blank" href="/assets/products-data/AAC.pdf" rel="noopener noreferrer"><button class="section-button">AA_technical_data</button></a>
        </div>

        <!-- <h3 class="section-subheading">Stranded bare aluminium Conductor(AAC)IS-398-I:1976</h3> -->
    </section>
</div>