<div class="container">
    <div class="investor-container">
        <ul class="investor-nav">
            <li class="" [routerLink]="['general-details']"> General Details </li>
            <li class="" [routerLink]="['general-meeting-notice']"> General Meeting Notice </li>
            <li class="" [routerLink]="['policies-and-codes-of-conduct']"> Policies and Codes of Conduct </li>
            <li class="" [routerLink]="['initial-public-offer']"> Initial Public Offer </li>
            <li class="" [routerLink]="['annual-report']"> Annual Report </li>
            <li class="" [routerLink]="['article-of-association']"> Article of Association </li>
            <li class="" [routerLink]="['financial-information']"> Financial Information </li>
            <li class="" [routerLink]="['newspaper-publication']"> Newspaper Publication </li>
            <li class="" [routerLink]="['materiality-policy']"> Materiality Policy </li>
            <li class="" [routerLink]="['composition-of-board-and-committee']"> Composition Of Board And Committee </li>
            <li class="" [routerLink]="['details-of-key-managerial-personnel']"> Details Of Key Managerial Personnel </li>
            <li class="" [routerLink]="['corporate-announcement']"> Corporate Announcement </li>
            <li class="" [routerLink]="['forms']"> Forms </li>
            <li class="" [routerLink]="['disclosure']"> Disclosure </li>
            <li class="" [routerLink]="['dividend']"> Dividend </li>
        </ul>
    </div>
    <div #investorsSection class="investor-content">
       <router-outlet></router-outlet>
    </div>
</div>