@import "../../../public/assets/variables.scss";
.container {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
}

.investor-container{
    display: block;
    max-width: 400px;
    margin: 3rem;
}


li{
    padding: 1rem;
    border:2px solid $primary;
    margin-top: -2px;
    cursor: pointer;
}

li:hover{
    background-color: $secondary;
}

.investor-nav{
    list-style-type: none;
    cursor: pointer;
}

.investor-content{
    display: flex;
    margin: 2rem;
    padding: 2rem;
    width:70vw;
    max-width:700px
}

@media (max-width:1024px) {
    .container{
        display: block;
    }
}