<article class="content-grid">
  <header class="article-header">
    <div class="header-content">
      <h1>Powering Connections, Empowering Progress.</h1>
      <p>
        "Our single-minded focus on innovation that solves real problems takes
        on several forms. Our focus on consistently"
      </p>
    </div>
    <img class="header-image" src="/assets/hero.jpg" />
  </header>
</article>

<section class="container section about-section" id="about">
  <h2 class="section-heading">About Mantram</h2>
  <div class="section-content">
    <div class="section-1">
      <div class="heading">
        <span class="highlight-text"> Premium & Durable </span><br>Wires and cables
      </div>
      <div class="highlight-cards" #counter>
        <div class="card">
          <div class="card-content">
            <h2>8+</h2>
            <p>Years of Industry <br><strong>EXCELLENCE</strong></p>
          </div>

        </div>
        <div class="card">
          <div class="card-content">
            <h2>500+</h2>
            <p>Successful <br><strong>PROJECTS COMPLETED</strong></p>
          </div>

        </div>
        <div class="card">
          <div class="card-content">
            <h2>100%</h2>
            <p>Sustainable & <br><strong>ECO-FRIENDLY</strong></p>
          </div>

        </div>
        <div class="card">
          <div class="card-content">
            <h2>ISO & BIS</h2>
            <p>Certified <br><strong>QUALITY</strong></p>
          </div>

        </div>
      </div>
    </div>
    <div class="section-2">
      <p>
        <span class="highlight-text">MANTRAM INDUSTRIES PRIVATE LIMITED</span>
        specializes in manufacturing high-quality conductors and cables that power industries, infrastructure, and
        communities. With a strong focus on innovation, the company delivers reliable, efficient solutions tailored to
        meet the evolving demands of the energy sector. Their commitment to quality assurance and adherence to top
        industry standards ensures superior product performance, while advanced, technology-driven manufacturing
        processes enhance precision and efficiency.
      </p>
      <p>
        Driven by sustainability and customer satisfaction, Mantram Industries integrates eco-friendly practices into
        its operations, promoting energy-efficient solutions and minimizing environmental impact. With a
        customer-centric approach and a dedication to responsible manufacturing, the company offers durable, customized
        products to suit diverse industry needs. Mantram Industries is a trusted partner for those seeking premium,
        sustainable electrical solutions.
      </p>
    </div>
  </div>
  <div class="image-video" #imageVideo>
    <div class="image-section section-1">
      <img src="assets/about.jpeg" />
    </div>
    <div class="image-section section-2">
      <img src="assets/infrastructure/image 4.jpg" />
      <div class="overlay" (click)="playVideo()">
        <img src="assets/icons/play-icon.png" alt="Play" />
      </div>
    </div>
    @if(showVideoPopup){
    <div class="backgroundBlur">
      <div class="popupFormBackground">
        <div class="popupForm blackBackground">
          <span class="class-btn" (click)="showVideoPopup = !showVideoPopup">&times;</span>
          <video class="video-player" autoplay muted controls>
            <source src="assets/videos/SampleVideo.mp4" muted type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
    }
  </div>

</section>

<section class="container section products-section" id="products" #product>
  <h2 class="section-heading">Our Products</h2>
  <div class="products">
    <div class="product-item  product-item__1" (click)="routeToProducts('aerial')">
      <div class="product-name">
        <p>LT Aerial Bunched Cable</p>
      </div>
    </div>
    <div class="product-item product-item__2" (click)="routeToProducts('acsr')">
      <div class="product-name">
        <p>Stranded Bare Aluminium Conductor Steel Reinforced (ACSR)</p>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="product-item product-item__3" (click)="routeToProducts('aa')">
      <div class="product-name">
        <p>All Aluminium Conductor (AA)</p>
      </div>
    </div>
    <div class="product-item product-item__4" (click)="routeToProducts('aaa')">
      <div class="product-name">
        <p>All Aluminium Alloy Conductor (AAAC)</p>
      </div>
    </div>
  </div>
</section>


<section class="solar-energy-section section">
  <div class="container">
    <h1 class="section-heading">Initiatives taken for Sustainable Future</h1>
    <div class="solar-sections">
      <fieldset class="solar-container">
        <legend><img src="/assets/icons/green-initiative.svg" width="50" height="60"></legend>
        <h3>Installed Solar Panels on Office and Warehouse Roofs</h3><br>
        <p>Deployed rooftop solar systems that now provide up to 20% of the facility's daytime electricity needs.</p>
      </fieldset>
      <fieldset class="solar-container">
        <legend><img src="/assets/icons/green-initiative.svg" width="50" height="60"></legend>
        <h3> LED Retrofit Across Production and Admin Areas</h3><br>
        <p>Replaced over 90% of traditional lighting with high-efficiency LEDs, reducing lighting energy consumption by
          60%.</p>
      </fieldset>
      <fieldset class="solar-container">
        <legend><img src="/assets/icons/green-initiative.svg" width="50" height="60"></legend>
        <h3>Rainwater Harvesting System for Cooling or Utility Use</h3><br>
        <p>Captures rainwater for non-potable use in the plant, reducing dependence on municipal water by 30%.</p>
      </fieldset>
      <fieldset class="solar-container">
        <legend><img src="/assets/icons/green-initiative.svg" width="50" height="60"></legend>
        <h3>Reclaimed Copper and Plastic Waste from Production</h3><br>
        <p>Recovered and recycled 85% of copper and PVC waste, reintegrating it into the production cycle.</p>
      </fieldset>
      <fieldset class="solar-container">
        <legend><img src="/assets/icons/green-initiative.svg" width="50" height="60"></legend>
        <h3>Green Belt Development Around Facility</h3><br>
        <p>Planted over 500 native trees and shrubs around the plant boundary, improving biodiversity and air quality.
        </p>
      </fieldset>
    </div>
  </div>
</section>

<section class="container section">
  <h2 class="section-heading">Our Certificates</h2>
  <div class="section-content certificate">
    <div class="certificate-img">
      <img src="/assets/icon-iso.svg" alt="" height="100">
      <p><a href="/assets/certificates/(ISO)9001.pdf" target="_blank" rel="noopener noreferrer">(ISO) 9001</a></p>
    </div>
    <div class="certificate-img">
      <img src="/assets/bis-logo.png" alt="" height="100">
      <p><a href="/assets/certificates/(BIS)EndorsementNo-8200089007.pdf" target="_blank"
          rel="noopener noreferrer">(BIS)EndorsementNo-8200089007</a></p>
    </div>
    <div class="certificate-img">
      <img src="/assets/bis-logo.png" alt="" height="100">
      <p><a href="/assets/certificates/(BIS)EndorsementNo-8200062205.pdf" target="_blank"
          rel="noopener noreferrer">(BIS)EndorsementNo-8200062205</a></p>
    </div>
    <div class="certificate-img">
      <img src="/assets/bis-logo.png" alt="" height="100">
      <p><a href="/assets/certificates/(BIS)EndorsementNo-8200065809.pdf" target="_blank"
          rel="noopener noreferrer">(BIS)EndorsementNo-8200065809</a></p>
    </div>
  </div>
</section>

<section class="contact-section section">
  <div class="contact container">
    <p class="section-heading">Quick Enquiry</p>
    <div class="contact-section">
      <img src="/assets/contactus-landing.svg">
      <div class="contact-content">
        <h1>Get in Touch with Mantram Industries</h1><br><br>
        <p>
          Have questions or need assistance? Feel free to reach out. We're here to help and connect with you.
        </p>
        <button type="button" (click)="showContactForm = !showContactForm">Contact Us <img class="img-icon"
            src="/assets/icons/arrow.svg"></button>
      </div>
    </div>
    @if(showContactForm){
    <!-- using backgroundBlur div for making the entire viewport black with some opacity when we open form -->
    <div class="backgroundBlur">
      <!-- popupFormBackground div creates a background which creates a center poistion of the div in the screen size -->
      <div class="popupFormBackground">
        <!-- popupForm contains the element which needs to be displaced in popup -->
        <!-- using whiteBackground for showing different background colors for different elements -->
        <div class="popupForm whiteBackground">
          <span class="class-btn" (click)="showContactForm = !showContactForm">&times;</span>
          <form class="w-100">
            <div class="form-fields">
              <h1 class="contactHeading">Contact Us</h1>
              <div class="w-100 group">
                <input type="text" id="name" required class="w-100" formControlName="name" placeholder="" />
                <label for="name" class="form-label">Name</label>
              </div>
              <div class="w-100 group">
                <input type="number" name="contact" id="contact" required class="w-100" formControlName="contact"
                  placeholder="" />
                <label for="contact" class="form-label">Contact</label>
              </div>
              <div class="w-100 group">
                <input type="email" id="email" required class="w-100" formControlName="email" placeholder="" />
                <label for="email" class="form-label">Email</label>
              </div>
              <div class="w-100 group">
                <textarea name="message" id="message" cols="30" rows="2" class="w-100" required
                  formControlName="message" placeholder=""></textarea>
                <label for="message" class="form-label">Message</label>
              </div>
            </div>
            <!-- <p class="text-danger m-0 text-small" *ngIf="contactForm.invalid && contactForm.touched">Please enter valid
                          details!!
                      </p> -->
            <div class="contact-footer">
              <!-- <div class="alert alert-dismissible fade show" role="alert" [ngClass]="'alert-'+request.msg[0].severity"
                        *ngIf="request.msg.length">
                        {{request.msg[0].summary}}
                      </div> -->
              <button class="submit-btn" type="submit">
                <div class="spinner-border" role="status"></div>
                Enquire
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    }
  </div>
</section>