@import "../../../public/assets/variables.scss";

.header-image {
    animation: header-img-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

.header-content {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
}

.about-section {
    .section-content {
        .section-1 {
            .heading {
                font-size: 3rem;
                text-align: left;

                .highlight-text {
                    font-size: 3rem;

                    @media (max-width: $bp-md) {
                        font-size: 2rem;
                    }
                }

                line-height: 1.25;

                @media (max-width: $bp-md) {
                    font-size: 2rem;
                    text-align: center;
                }
            }

            .highlight-cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                text-align: center;
                max-width: 525px;
                margin: auto;
                margin-top: 1.25rem;

                .card {
                    overflow: hidden;

                    .card-content {
                        background: linear-gradient(135deg, #583896, #3b2670);
                        color: white;
                        padding: 15px;
                        border-radius: 15px;
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                        transition: transform 1s ease-in-out;
                        transform: translateY(100%);
                        height: 100%;

                        &:hover {
                            transform: translateY(-10px);
                        }

                        h2 {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1.2rem;
                            font-weight: 500;
                        }
                    }

                }

                @media (max-width: 600px) {
                    grid-template-columns: 1fr;
                    margin-bottom: 2rem;
                }

                &.show {
                    .card {
                        &:nth-child(1) {
                            .card-content {
                                transition-delay: 0s;
                            }
                        }

                        &:nth-child(2) {
                            .card-content {
                                transition-delay: 0.2s;
                            }
                        }

                        &:nth-child(3) {
                            .card-content {
                                transition-delay: 0.4s;
                            }
                        }

                        &:nth-child(4) {
                            .card-content {
                                transition-delay: 0.8s;
                            }
                        }

                        .card-content {
                            transform: translate(0);

                        }
                    }

                }
            }

        }

        .section-2 {
            p {
                margin-bottom: 1.5rem;
            }

            img {
                width: 50%;
            }
        }

    }

    .image-video {
        margin-top: 10rem;
        display: grid;
        grid-template-columns: 1.25fr 1fr;
        position: relative;
        margin-bottom: 20rem;

        @media (max-width: $bp-md) {
            grid-template-columns: 1fr;
        }

        .image-section {
            opacity: 0;
            transform: translateY(200px);
            transition: all 0.7s ease-out;
            transition-delay: 0ms;
        }

        .section-1 {
            img {
                box-shadow: lighten($primary, 20%) 0px 8px 24px;
            }

            @media (max-width: $bp-md) {
                display: none;
            }
        }

        .section-2 {

            img {
                height: 100%;
                width: 100%;

            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1000;
                background: #00000042;


                img {
                    width: 100px;
                    height: auto;
                    position: relative;
                    z-index: 1000000;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1000;
                }

            }

            @media (min-width: $bp-md) {
                position: relative;

                img {
                    position: relative;
                    top: 80%;
                    transform: translate(-20%, -50%);
                    height: 80%;
                    width: 100%;

                }

                .overlay {
                    position: absolute;
                    top: 80%;
                    left: 0;
                    width: 100%;
                    height: 80%;
                    z-index: 1000;
                    background: #00000042;
                    transform: translate(-20%, -50%);


                    img {
                        width: 100px;
                        height: auto;
                        position: relative;
                        z-index: 1000000;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                }
            }


        }

        &.show {
            .image-section {
                opacity: 1;
                transform: translateY(0);
            }

            .section-1 {
                transition-delay: 0s;
            }

            .section-2 {
                transition-delay: 0.5s;
            }
        }
    }

}


.products-section {
    .product-item {
        height: 36rem;
        position: relative;
        margin-bottom: 1rem;
        cursor: pointer;
        opacity: 0;
        transform: translateY(200px);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: transform 0.7s ease-in-out, width 0.4s ease-in-out;
        transition-delay: 0ms;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;


        .product-name {
            position: absolute;
            top: 75%;
            width: 100%;
            height: 25%;
            text-align: center;
            clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.25rem;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $primary;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                opacity: 1;
                z-index: 0;
                transition: all 0.2s ease-out;

            }

            p {
                position: relative;
                z-index: 1;
                color: #fff;
                margin: 0 2rem;
            }

            @media (min-width : $bp-sm) and (max-width: $bp-md) {
                font-size: 1.5rem;
            }
        }

        img {
            box-shadow: lighten($primary, 20%) 0px 8px 24px;
            width: 100%;
            height: 100%;
            transform-origin: center;
        }

        &:hover {
            width: 70%;

            .product-name {
                top: 0;
                height: 100%;
                clip-path: none;
                transition: all 0.1s ease-out;

                &::before {
                    opacity: 0.7;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }

                p {
                    color: #fff;
                    font-weight: 700;
                    font-size: 2rem;

                }
            }
        }
    }

    &.show {
        .product-item {
            opacity: 1;
            transform: translateY(0);

            &:first-child {
                transition-delay: 0.1s;
            }

            &:nth-child(2n) {
                transition-delay: 0.3s;
            }

            &:nth-child(3n) {
                transition-delay: 0.5s;
            }
        }
    }

    .product-item__1 {
        background-image: url('/assets/products/lt-aerial.png');
    }

    .product-item__2 {
        background-image: url('/assets/products/dist-cable.png');
    }

    .product-item__3 {
        background-image: url('/assets/products/AAC.jpg');
    }

    .product-item__4 {
        background-image: url('/assets/products/aaa.jpeg');
    }
}

.products {
    @media (min-width : $bp-md) {
        display: flex;
        gap: 1.5rem;

        .product-item {
            width: 50%;
        }
    }
}

.contact {

    .contact-section {
        display: flex;
        padding: 3rem;
        background-color: rgba(#ae8eef, 0.1);
        align-items: center;
        border-radius: 1rem;
    }

    img {
        width: 30rem;
        height: 28rem;
        border-radius: 1rem;
    }

    p {
        margin-bottom: 2rem;
    }

    .contact-content {
        display: grid;
        flex-direction: row;
        align-items: center;
        margin: 1rem;

        button {
            width: fit-content;
            display: flex;
            cursor: pointer;
            align-items: center;
            border-radius: 1rem;
        }

        .img-icon {
            width: 2rem;
            height: 1.2rem;
        }
    }

    .popupFormBackground {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .contactHeading {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .class-btn {
        display: inline;
        color: #aaaa;
        font-size: x-large;
        font-weight: bold;
    }

    .class-btn:hover {
        color: black;
        cursor: pointer;
    }

    form {
        max-width: 600px;
        margin: auto;
        padding: 1rem 2rem 2rem 2rem;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .form-fields {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .wrap-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .group {
        position: relative;
    }

    input,
    textarea {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
        outline: none;
        transition: border 0.3s ease-in-out;
    }

    input:focus,
    textarea:focus {
        border-color: $primary;
    }

    label {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        font-size: 1rem;
        color: #777;
        transition: 0.3s ease-in-out;
        pointer-events: none;
    }

    input:focus+label,
    textarea:focus+label,
    input:not(:placeholder-shown)+label,
    textarea:not(:placeholder-shown)+label {
        top: 0;
        left: 10px;
        font-size: 14px;
        color: $primary;
        background-color: #fff;
    }

    .contact-footer {
        text-align: center;
        margin-top: 20px;
    }

    .submit-btn {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background: $primary;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition: all 0.3s;
    }

    .submit-btn:hover {
        background: darken($color: $primary, $amount: 20%);
    }

    .spinner-border {
        display: none;
        width: 18px;
        height: 18px;
        border-width: 2px;
    }

    .submit-btn.loading .spinner-border {
        display: inline-block;
    }

    .submit-btn.loading span {
        display: none;
    }

    /* Responsive */
    @media (max-width: $bp-md) {
        .wrap-container {
            flex-direction: column;
        }
    }

    @media (max-width: $bp-md) {
        .contact-section {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 1.5rem;
        }

        .contact-section img {
            width: 100%;
            height: auto;
        }

        .contact-content {
            display: block;
            text-align: center;

            button {
                margin: auto;
            }
        }
    }


}

.solar-energy-section {
    .container {
        place-items: center;
        color: $primary;
    }

    .solar-sections {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin: 2rem;
        gap: 1rem;
    }

    .solar-container {
        padding: 3rem;
        border: 1px solid black;
        border-radius: 1rem;

        legend {
            font-size: xx-large;
        }
    }
}

.certification-section {
    .container {
        place-items: center;
        color: $primary;
        gap: 2rem;
    }

    .certificates-section {
        @media (min-width : $bp-md) {
            display: flex;
            justify-content: space-around;
            margin: 2rem;
            flex-wrap: wrap;
            gap: 2rem;

            .certificates {
                width: 30%;
            }
        }

    }

    .certificates {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        height: auto;
        margin-bottom: 2rem;
    }

    h3 {
        display: flex;
        justify-content: center;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes header-img-animation {
    25% {
        opacity: 0.75;
    }

    80%,
    100% {
        opacity: 0;
        scale: 3;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
        scale: 1;
    }
}


@keyframes swiperight {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }

}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}