@import "../../../public/assets/variables.scss";

.header-image {
    animation: header-img-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

.header-content {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
}

.about-section {
    img {
        box-shadow: lighten($primary, 20%) 0px 8px 24px;
        ;
    }
}


.products-section {
    .product-item {
        position: relative;
        margin-bottom: 1rem;
        cursor: pointer;
        opacity: 0;
        transform: translateY(1000px);
        transition: all 0.7s ease-out;
        transition-delay: 0ms;


        .product-name {
            position: absolute;
            top: 75%;
            width: 100%;
            height: 25%;
            text-align: center;
            clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.25rem;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $primary;
                opacity: 1;
                z-index: 0;
                transition: all 0.2s ease-out;
            }

            p {
                position: relative;
                z-index: 1;
                color: #fff;
                margin: 0;
            }

            @media (min-width : $bp-sm) and (max-width: $bp-md) {
                font-size: 1.5rem;
            }
        }

        img {
            box-shadow: lighten($primary, 20%) 0px 8px 24px;
            ;
            width: 100%;
        }

        &:hover {
            .product-name {
                top: 0;
                height: 100%;
                clip-path: none;
                transition: all 0.2s ease-out;

                &::before {
                    opacity: 0.7;
                }

                p {
                    color: #fff;
                    font-weight: 700;
                    font-size: 2rem;

                }
            }
        }
    }

    &.show {
        .product-item {
            opacity: 1;
            transform: translateY(0);
            &:first-child {
                transition-delay: 0.1s;
            }
            &:nth-child(2n) {
                transition-delay: 0.3s;
            }
            &:nth-child(3n) {
                transition-delay: 0.5s;
            }
        }
    }
}


.products {
    @media (min-width : $bp-md) {
        display: flex;
        gap: 1.5rem;

        .product-item {
            width: 100%;
        }
    }
}

.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;

    form {
        .form-fields {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        input,
        textarea {
            font-size: 16px;
            height: 25px;
            padding: 10px 10px 10px 5px;
            display: block;
            border: none;
            outline: none;
            border-bottom: 1px solid #000;
            color: #000;
            background: rgba(0, 0, 0, 0);
            transition: 0.2s ease;
        }

        textarea {
            height: auto;
        }

        input:focus,
        textarea:focus {
            outline: 0;
        }

        label {
            color: #000;
            font-size: 1.25rem;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            top: -3px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        /* active state */
        input:focus~label,
        textarea:focus~label,
        input:valid~label,
        textarea:valid~label,
        input[disabled]~label {
            top: -25px;
            font-size: 16px;
            color: #000;
        }

        .group {
            position: relative;
            margin-bottom: 35px;
        }

        .submit-btn {
            background-color: $primary;
            padding: 0.75rem 0.825rem;
            color: #fff;
            margin-left: auto;
            border: 0;
        }

    }

    .wrap-container {
        row-gap: 2rem;
        column-gap: 2rem;
        display: flex;
    }

    .contact-footer {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        align-items: start;
        line-height: 1.25;

        @media (max-width: 800px) {

            flex-direction: column;

        }
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes header-img-animation {
    25% {
        opacity: 0.75;
    }

    80%,
    100% {
        opacity: 0;
        scale: 3;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
        scale: 1;
    }
}


@keyframes swiperight {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }

}