<article class="content-grid">
  <header class="article-header">
    <div class="header-content">
      <h1>Powering Connections, Empowering Progress.</h1>
      <p>
        "Our single-minded focus on innovation that solves real problems takes
        on several forms. Our focus on consistently"
      </p>
    </div>
    <img class="header-image" src="/assets/hero.jpg" />
  </header>
</article>

<section class="container section about-section" id="about">
  <h2 class="section-heading">About Mantram</h2>
  <div class="section-content">
    <div class="section-1">
      <div class="heading">
        <span class="highlight-text"> Premium & Durable </span><br>Wires and cables
      </div>
      <div class="highlight-cards" #counter>
        <div class="card">
          <div class="card-content">
            <h2>8+</h2>
            <p>Years of Industry <br><strong>EXCELLENCE</strong></p>
          </div>

        </div>
        <div class="card">
          <div class="card-content">
            <h2>500+</h2>
            <p>Successful <br><strong>PROJECTS COMPLETED</strong></p>
          </div>

        </div>
        <div class="card">
          <div class="card-content">
            <h2>100%</h2>
            <p>Sustainable & <br><strong>ECO-FRIENDLY</strong></p>
          </div>

        </div>
        <div class="card">
          <div class="card-content">
            <h2>ISO & BIS</h2>
            <p>Certified <br><strong>QUALITY</strong></p>
          </div>

        </div>
      </div>
    </div>
    <div class="section-2">
      <p>
        <span class="highlight-text">MANTRAM INDUSTRIES PRIVATE LIMITED</span>
        (Formally Known As Madhu Cable and Conductor Pvt. Ltd.) is an ISO 9001
        Certified company started in 2016 in Indore. We manufacture under a
        well-known and accepted brand name - "MANTRAM" in the cable & conductor
        industry. We manufacture large range of products in LT PVC/XLPE Power
        Cables, Control Cables, AB Cables & AAAC, ACSR Conductors.
      </p>
      <p>
        In the field of power distribution segment, MANTRAM is the synonymous in
        cable and conductor field and we have been enjoying faith and reputation
        from our esteemed customers due to our product quality as well as
        service. The entire range of our product basket is made with our state
        of the art technology. Till now we have no plan to have collaboration
        any technology for our existing product range. Our quality standard is
        ensured by stringent quality check both on incoming raw materials up to
        finished products based on our well framed quality assurance standard
        with continuous developmental R&D activity both for raw material and
        finished products.
      </p>
    </div>
  </div>
  <div class="image-video" #imageVideo>
    <div class="image-section section-1">
      <img src="assets/about.jpeg" />
    </div>
    <div class="image-section section-2">
      <img src="assets/infrastructure/image 4.jpg" />
      <div class="overlay">
        <img src="assets/icons/play-icon.png" alt="" width="50px">
      </div>
    </div>
  </div>

</section>

<section class="container section products-section" id="products" #product>
  <h2 class="section-heading">Our Products</h2>
  <div class="products">
    <div class="product-item product-item__1" (click)="routeToProducts('aerial')">
      <div class="product-name">
        <p>LT Aerial Bunched Cable</p>
      </div>
    </div>
    <div class="product-item product-item__2" (click)="routeToProducts('transmission')">
      <div class="product-name">
        <p>Distribution & Transmission Conductor</p>
      </div>
    </div>
  </div>
</section>

<section class="container section products-section-2" id="products" #product2>
  <h2 class="section-heading">Our Products</h2>
  <div class="products">
    <div class="product-item  product-item__1" (click)="routeToProducts('aerial')">
      <div class="product-name">
        <p>LT Aerial Bunched Cable</p>
      </div>
    </div>
    <div class="product-item product-item__2" (click)="routeToProducts('acsr')">
      <div class="product-name">
        <p>Stranded Bare Aluminium Conductor Steel Reinforced (ACSR)</p>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="product-item product-item__3" (click)="routeToProducts('aa')">
      <div class="product-name">
        <p>All Aluminium Conductor (AA)</p>
      </div>
    </div>
    <div class="product-item product-item__4" (click)="routeToProducts('aaa')">
      <div class="product-name">
        <p>All Aluminium Alloy Conductor (AAAC)</p>
      </div>
    </div>
  </div>
</section>

<section class="contact-section section">
  <div class="contact container">
    <p class="section-heading">Quick Enquiry</p>
    <form class="w-100">
      <div class="form-fields">
        <div class="w-100 wrap-container">
          <div class="mb-3 w-100 group">
            <input type="text" id="name" required class="w-100" formControlName="name" placeholder="" />
            <label for="name" class="form-label">Name</label>
          </div>
        </div>
        <div class="d-flex w-100 wrap-container">
          <div class="mb-3 w-100 group">
            <input name="contact" id="contact" required class="w-100" formControlName="contact" placeholder="" />
            <label for="contact" class="form-label">Contact</label>
          </div>
          <div class="mb-3 w-100 group">
            <input type="email" id="email" required class="w-100" formControlName="email" placeholder="" />
            <label for="email" class="form-label">Email</label>
          </div>
        </div>
        <div class="d-flex w-100 wrap-container">
          <div class="mb-3 w-100 group">
            <textarea name="message" id="message" cols="30" rows="2" class="w-100" required formControlName="message"
              placeholder=""></textarea>
            <label for="message" class="form-label">Message</label>
          </div>
        </div>
      </div>
      <!-- <p class="text-danger m-0 text-small" *ngIf="contactForm.invalid && contactForm.touched">Please enter valid
                details!!
            </p> -->
      <div class="contact-footer">
        <!-- <div class="alert alert-dismissible fade show" role="alert" [ngClass]="'alert-'+request.msg[0].severity"
              *ngIf="request.msg.length">
              {{request.msg[0].summary}}
            </div> -->
        <button class="submit-btn" type="submit">
          <div class="spinner-border" role="status"></div>
          Enquire
        </button>
      </div>
    </form>
  </div>
</section>