<article class="content-grid">
  <header class="article-header">
    <div class="header-content">
      <h1>About Us</h1>
      <p>
        "At Mantram Industries, we combine quality, reliability, and innovation"
      </p>
    </div>
    <img class="header-image" src="/assets/mantram-about-2.jpg" />
  </header>
</article>
<section class="container section about-section" id="about">
  <div class="section-content">
    <div class="section-1">
      <img src="assets/mantram-about.jpg" />
    </div>
    <div class="section-2">
      <p>
        <span class="highlight-text">Mantram Industries</span> is a global leader in delivering reliable, high-quality
        products at competitive prices,
        empowering clients to outperform their competitors and maintain a strong focus on innovation. Customer
        satisfaction is the cornerstone of our success, driving the foundation of our growth.
      </p>
      <p>
        Trusted across India, Mantram Industries has built a solid reputation by consistently meeting customer needs
        while adhering to environmental, health, and safety standards. Our commitment to these values has earned us
        respect and recognition among our peers in the industry.
      </p>
      <p>
        We are dedicated to creating products that are reliable, intuitive, and accessible. Our customer-centric
        approach allows us to deeply understand and address the diverse needs of our clients, ensuring that we always
        deliver exceptional value.
      </p>
    </div>
  </div>
</section>

<section class="container section choose-info">
  <h2 class="section-heading">Our Commitments</h2>
  <div class="quality-checks">
    <div class="quality-item">
      <div class="quality-head">
        <img src="assets/icon-pointer.svg" alt="" srcset="">
        <div class="quality-content">
          <h2>Innovating with Sustainable Practices</h2>
          <p>
            We are committed to reducing our environmental footprint through innovative, eco-friendly solutions that
            support a cleaner and more sustainable future.
          </p>
        </div>

      </div>

    </div>
    <div class="quality-item">
      <div class="quality-head">
        <img src="assets/icon-pointer.svg" alt="" srcset="">
        <div class="quality-content">
          <h2>Delivering Superior Products</h2>
          <p>
            Our products are crafted to meet the highest standards of safety, performance, and reliability, ensuring
            that our customers receive nothing but the best.
          </p>
        </div>
      </div>
    </div>
    <div class="quality-item">
      <div class="quality-head">
        <img src="assets/icon-pointer.svg" alt="" srcset="">
        <div class="quality-content">
          <h2>Empowering Our Employees</h2>
          <p>
            We foster a culture of continuous improvement and growth, empowering our employees to achieve their full
            potential while driving the company's success.
          </p>
        </div>
      </div>
    </div>
    <div class="quality-item">
      <div class="quality-head">
        <img src="assets/icon-pointer.svg" alt="" srcset="">
        <div class="quality-content">
          <h2>Building Lasting Relationships</h2>
          <p>
            We prioritize transparency, integrity, and exceptional service to foster strong, long-term relationships
            with our stakeholders, built on trust and mutual respect.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container section">
  <h2 class="section-heading">Our Certificates</h2>
  <div class="section-content certificate">
    <div class="certificate-img">
      <img src="/assets/bis-logo.png" alt="" height="100">
    </div>
    <div class="certificate-img">
      <img src="/assets/icon-iso.svg" alt="" height="100">
    </div>
  </div>
</section>


<section class="parallax">
  <div class="mission-container">
    <div class="mission">
      <div class="icon">
        <img src="/assets/icon-mission.svg" height="40px" width="auto" />
      </div>
      <div>
        <h3>Our Mission</h3>
        <p>
          At Mantram Industries Pvt. Ltd., our mission is to deliver high-quality, reliable, and eco-friendly electrical
          solutions that cater to the evolving needs of our customers. We are dedicated to innovation, ensuring that our
          products not only meet industry standards but also contribute to a sustainable future. Through our commitment
          to excellence, we aim to empower progress and help our clients thrive in a rapidly changing world.
        </p>
      </div>
    </div>
    <div class="mission">
      <div class="icon">
        <img src="/assets/icon-vision.svg" height="40px" width="auto" />
      </div>
      <div>
        <h3>Our Vision</h3>
        <p>
          Our vision is to be a global leader in sustainable energy solutions, pioneering innovation and excellence in
          the manufacturing of electrical products that drive progress and elevate the quality of life. We are committed
          to creating solutions that not only meet the demands of today but also contribute to a cleaner, more efficient
          future for generations to come.
        </p>
      </div>
    </div>
  </div>
</section>
