<div class="container">
    <section class="section">
        <p class="section-content">
           <span class="highlight-text"> All Aluminium Conductors Steel Reinforced (ACSR) </span> consists of stranded or solid steel core enclosed by
            strands of aluminum. These are made available in broad range of steels varying from as low as 6% to as high
            as 40 %. The superior strength of ACSR is ideal for overhead ground wires, river crossings, installations
            involving extra long span. Manufactured using best quality materials, these conductors ensure high tensile
            strength.
        </p>


    </section>

    <section class="section construction-section">
        <h2 class="section-heading">Specifications</h2>

        <div class="pdf-section">
            <p>technical data of ACSR conductors</p>
            <a target="_blank" href="/assets/products-data/ACSR.pdf" rel="noopener noreferrer"><button class="section-button">ACSR_technical_data</button></a>
        </div>
    </section>
</div>