<div class="contact-container">
    <section class="contact-hero">
        <div class="hero-text">
            <h3>Get in Touch with Mantram Industries</h3>
            <p>
                Have questions or need assistance? Feel free to reach out. We're here to help and connect with you.
            </p>
        </div>
        <img src="/assets/contactus-hero.svg" alt="Contact Illustration" class="hero-img" />
    </section>

    <section class="contact-info-form">
        <div class="contact-info">
            <div class="info-block">
                <h3>Phone number</h3>
                <span>+91 731 490 1593</span><br />
                <span>+91 808 578 6533</span>
            </div>
            <div class="info-block">
                <h3>Email address</h3>
                <span>hello&#64;mantramindustries.in</span>
            </div>
            <div class="info-block">
                <h3>Office Address</h3>
                <a href="https://www.google.com/maps/place/MANTRAM+INDUSTRIES+PRIVATE+LIMITED/@22.7753702,75.8455624,17z/data=!3m1!4b1!4m6!3m5!1s0x39630389383cb55d:0x405285bd78b0d83a!8m2!3d22.7753702!4d75.8481373!16s%2Fg%2F11h79kzqyc?entry=ttu"
                    target="_blank" rel="noopener noreferrer">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Google_Maps_icon_%282015-2020%29.svg"
                        alt="map icon" />
                    27-28 A, Sector-F, Sanwer Road Industrial Area, Indore (M.P.), Bharat; 452015
                </a>
            </div>
        </div>

        <form class="w-100" (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-fields">
                <h1 class="contactHeading">Contact Us</h1>

                <div class="w-100 group">
                    <div class="input-wrapper">
                        <input type="text" id="name" name="name" placeholder=" " [(ngModel)]="formData.name" required
                            #nameRef="ngModel" />
                        <label for="name">Name</label>
                    </div>
                    @if(nameRef.invalid && nameRef.touched){
                    <div class="error-msg">Name is required</div>
                    }
                </div>

                <div class="w-100 group">
                    <div class="input-wrapper">
                        <input type="tel" id="contact" name="contact" placeholder=" " [(ngModel)]="formData.contact"
                            pattern="[0-9]{10}" required #contactRef="ngModel" />
                        <label for="contact">Contact</label>
                    </div>
                    @if(contactRef.invalid && contactRef.touched){
                    <div class="error-msg">Enter a valid 10-digit number</div>
                    }
                </div>

                <div class="w-100 group">
                    <div class="input-wrapper">
                        <input type="email" id="email" name="email" placeholder=" " [(ngModel)]="formData.email"
                            required email #emailRef="ngModel" />
                        <label for="email">Email</label>
                    </div>
                    @if(emailRef.invalid && emailRef.touched){
                    <div class="error-msg">Enter a valid email</div>
                    }
                </div>

                <div class="w-100 group">
                    <div class="input-wrapper">
                        <textarea id="message" name="message" placeholder=" " rows="2" [(ngModel)]="formData.message"
                            required #messageRef="ngModel"></textarea>
                        <label for="message">Message</label>
                    </div>
                    @if(messageRef.invalid && messageRef.touched){
                    <div class="error-msg">Message is required</div>
                    }
                </div>
            </div>

            <div class="contact-footer">
                <button class="submit-btn" type="submit" [disabled]="form.invalid">
                    <div class="spinner-border" role="status"></div>
                    Enquire
                </button>
            </div>
        </form>

    </section>
</div>