<div class="container">
    <div class="contact-header">
        <div class="contact-heading">
            <h1>Contact Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error alias ut omnis? Rerum quidem eius dolore
                fuga voluptas, consequuntur quaerat quos quisquam quod quo nobis magni minus asperiores? Nostrum,
                cumque?</p>
        </div>
        <img src="https://www.hubspot.com/hs-fs/hubfs/Contact%20Us/DO%20NOT%20USE-%202025%20Contact%20Us%20images%20%5Bcontact%20Teenie%20Rose%20for%20usage%5D/contact-us-illustration-crop.webp?width=901&height=644&name=contact-us-illustration-crop.webp"
            alt="Contact Us Illustration" class="csol-header-image">
    </div>
</div>
<div class="contact-section-wrapper">
    <div class="contact-box-wrapper">
        <div class="contact-box">
            <div class="contact-box-sub-divs">
                <h6 class="contact-box-item title">Phone number</h6>
                <span class="contact-box-item">
                    +91 000 000 0000
                </span>
            </div>
            <div class="contact-box-sub-divs">
                <h6 class="contact-box-item title">Email address</h6>
                <span class="contact-box-item ">
                    example&#64;email.com
                </span>
            </div>
            <div class="contact-box-sub-divs">
                <h6 class="contact-box-item title">Office Address</h6>
                <span class="map-address">
                    <a style="cursor: pointer;"
                        href="https://www.google.com/maps/search/26%2F2C,+Late+Shree+Lala+Banarasilal+Dabar+Marg+New+Palasia,+Palasia+Indore,+452001+Madhya+Pradesh+India/@22.729294,75.8726925,15.74z?entry=ttu&g_ep=EgoyMDI1MDQwMS4wIKXMDSoJLDEwMjExNjM5SAFQAw%3D%3D"
                        class="test123" target="_blank">
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/3/39/Google_Maps_icon_%282015-2020%29.svg">
                        26/2C, Late Shree Lala Banarasilal Dabar Marg New
                        Palasia, Palasia Indore, 452001 Madhya Pradesh India
                    </a>

                </span>
            </div>
        </div>
        <div class="contact-form">
            <form class="w-100">
                <div class="form-fields">
                    <h1 class="contactHeading">Contact Us</h1>
                    <div class="w-100 wrap-container">
                        <div class="mb-3 w-100 group">
                            <input type="text" id="name" required class="w-100" formControlName="name" placeholder="" />
                            <label for="name" class="form-label">Name</label>
                        </div>
                    </div>
                    <div class="d-flex w-100 wrap-container">
                        <div class="mb-3 w-100 group">
                            <input type="number" name="contact" id="contact" required class="w-100" formControlName="contact"
                                placeholder="" />
                            <label for="contact" class="form-label">Contact</label>
                        </div>
                        <div class="mb-3 w-100 group">
                            <input type="email" id="email" required class="w-100" formControlName="email"
                                placeholder="" />
                            <label for="email" class="form-label">Email</label>
                        </div>
                    </div>
                    <div class="d-flex w-100 wrap-container">
                        <div class="mb-3 w-100 group">
                            <textarea name="message" id="message" cols="30" rows="2" class="w-100" required
                                formControlName="message" placeholder=""></textarea>
                            <label for="message" class="form-label">Message</label>
                        </div>
                    </div>
                </div>
                <div class="contact-footer">
                    <button class="submit-btn" type="submit">
                        <div class="spinner-border" role="status"></div>
                        Enquire
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>