<div class="container">
    <section class="section">
        <p class="section-content">
            Aluminium alloy wires used in the construction of standard aluminium alloy conductors.
            Our offered <span class="highlight-text">All Aluminum Alloy Conductors (AAAC)</span>  is made from aluminium-magnesium-silicon alloy. These
            alloys ensure high electrical conductivity containing sufficient magnesium silicide to provide it superior
            mechanical properties after conduction. These conductors are basically made out of aluminium alloy 6201.
            AAAC CONDUCTOR has a enhanced corrosion resistance and improved strength to weight ratio and improved
            electrical conductivity than ACSR CONDUCTOR on equal diameter basis.
        </p>


    </section>

    <div>
        <h2>Physical contents of aluminium alloy:</h2>
        <ol>
            <li><strong>Resistivity</strong> - 0.0325 ohm mm²/m at 20°C</li>
            <li><strong>Density</strong> - 2.70 g/cm³ at 20°C</li>
            <li><strong>Coefficient of Linear Expansion</strong> - 23 × 10⁻⁶ /°C</li>
            <li><strong>Constant Mass Temperature Coefficient (α)</strong> - 0.00360 /°C</li>
            <li><strong>Material</strong> - Heat treated Al. Mg. Si. Alloy
                <ul>
                    <li>Approximately 0.5% Mg & 0.5% Si</li>
                </ul>
            </li>
        </ol>
    </div>

    <section class="section construction-section">
        <h2 class="section-heading">Specifications</h2>

        <h3 class="section-subheading">Stranded bare All Aluminium Alloy Conductor(AAAC)IS-398-I:1976</h3>
        <h3 class="section-subheading">Mechanical & Electrical Properties</h3>

        <table>
            <thead>
                <tr>
                    <th>Sl. No.</th>
                    <th>Nom. Al Area (mm²)</th>
                    <th>Standing & Wire Dia (mm)</th>
                    <th>Overall Dia (mm)</th>
                    <th>Mass (kg/km)</th>
                    <th>Max Resistance at 20°C (Ohms/km)</th>
                    <th>Breaking Load (Kn)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>15</td>
                    <td>3/2.5</td>
                    <td>5.39</td>
                    <td>40.15</td>
                    <td>2.3040</td>
                    <td>4.33</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>22</td>
                    <td>7/2.00</td>
                    <td>6.00</td>
                    <td>60.15</td>
                    <td>1.5410</td>
                    <td>6.45</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>34</td>
                    <td>7/2.50</td>
                    <td>7.50</td>
                    <td>94.00</td>
                    <td>0.9900</td>
                    <td>10.11</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>55</td>
                    <td>7/3.15</td>
                    <td>9.45</td>
                    <td>149.20</td>
                    <td>0.6210</td>
                    <td>16.03</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>80</td>
                    <td>7/3.81</td>
                    <td>11.43</td>
                    <td>218.26</td>
                    <td>0.4250</td>
                    <td>23.41</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>100</td>
                    <td>7/4.26</td>
                    <td>12.78</td>
                    <td>272.86</td>
                    <td>0.3390</td>
                    <td>29.26</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>125</td>
                    <td>19/2.89</td>
                    <td>14.45</td>
                    <td>342.51</td>
                    <td>0.2735</td>
                    <td>36.64</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>148</td>
                    <td>19/3.15</td>
                    <td>15.75</td>
                    <td>406.91</td>
                    <td>0.2290</td>
                    <td>43.50</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>173</td>
                    <td>19/3.40</td>
                    <td>17.00</td>
                    <td>474.02</td>
                    <td>0.1969</td>
                    <td>50.64</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>200</td>
                    <td>19/3.66</td>
                    <td>18.30</td>
                    <td>549.02</td>
                    <td>0.1710</td>
                    <td>68.05</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>232</td>
                    <td>19/3.94</td>
                    <td>19.70</td>
                    <td>636.67</td>
                    <td>0.1471</td>
                    <td>84.71</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>288</td>
                    <td>37/3.15</td>
                    <td>22.05</td>
                    <td>794.05</td>
                    <td>0.1182</td>
                    <td>101.58</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>346</td>
                    <td>37/3.45</td>
                    <td>24.15</td>
                    <td>952.56</td>
                    <td>0.0984</td>
                    <td>117.40</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>400</td>
                    <td>37/3.71</td>
                    <td>25.97</td>
                    <td>1101.63</td>
                    <td>0.0829</td>
                    <td>136.38</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>465</td>
                    <td>37/4.00</td>
                    <td>28.00</td>
                    <td>1280.50</td>
                    <td>0.0734</td>
                    <td>146.03</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>525</td>
                    <td>61/3.31</td>
                    <td>29.79</td>
                    <td>1448.39</td>
                    <td>0.0651</td>
                    <td>158.66</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>570</td>
                    <td>61/3.45</td>
                    <td>31.05</td>
                    <td>1573.71</td>
                    <td>0.0598</td>
                    <td>167.99</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>604</td>
                    <td>61/3.55</td>
                    <td>31.95</td>
                    <td>1666.00</td>
                    <td>0.0568</td>
                    <td>178.43</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>642</td>
                    <td>61/3.66</td>
                    <td>32.94</td>
                    <td>1771.36</td>
                    <td>0.0534</td>
                    <td>193.25</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>695</td>
                    <td>61/3.81</td>
                    <td>34.29</td>
                    <td>1919.13</td>
                    <td>0.0492</td>
                    <td>203.01</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>767</td>
                    <td>61/4.00</td>
                    <td>36.00</td>
                    <td>2115.54</td>
                    <td>0.0446</td>
                    <td>213.01</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>