<article class="content-grid">
  <header class="article-header">
    <div class="header-content">
      <h1>{{product.name}}</h1>
    </div>
    <img class="header-image" [src]="product.img" />
  </header>
</article>

<div class="product-content">
  @switch (product.id) {
    @case ('aerial') {
      <app-aerial-cable></app-aerial-cable>
    }
    <!-- @case ('transmission') {
      <app-transmission-conductor></app-transmission-conductor>
    } -->
    @case ('acsr') {
      <app-acsr></app-acsr>
    }
    @case ('aaa') {
      <app-aaa></app-aaa>
    }
    @case ('aa') {
      <app-aa></app-aa>
    }
  }
</div>