<div class="info-card">
  <!-- main container-->
  <div class="profile-header"></div>
  <!-- the lite blue color the header contains-->
  <div class="profile-content"></div>
  <div class="initials">SG</div>

  <div class="profile-info">
    <p class="name">Mr. Sandip Goyal</p>
    <p class="designation">CEO</p>
    <p class="company">V Ganesh Agri Foods Pvt. Ltd</p>
  </div>

  <div class="contact-details">
    <ul>
      <li><i class="fa fa-WEchat"></i> WeChat:vganeshfoods/Ganeshagro</li>
      <li><i class="fa fa-phone"></i> Phone: +91 737 8332344</li>
      <li><i class="fa fa-envelope"></i> infoganeshagri.com</li>
      <li><i class="fa fa-linkedin"></i> LinkedIn</li>
      <li><i class="fa fa-facebook"></i> Facebook</li>
      <li><i class="fa fa-instagram"></i> Instagram</li>
      <li><i class="fa fa-globe"></i> Website: www.ganeshagri.com</li>
      <li>Address: 302-302, Second Floor...</li>
    </ul>
  </div>
</div>
<!-- Add to Contacts Button -->
<div class="add-contact-button">
  <button>Add to Contacts</button>
</div>
