.bigImage{
    margin-left: 15rem;
    margin-top: 10rem;
    overflow-x: clip;
    display: flex;
    width: 60vw;
    height: 468px;
    place-items: center;
}

.left-arrow-img{
    width: 30px;
    height: auto; 
    object-fit: contain;
    cursor: pointer;
}

.right-arrow-img{
    width: 30px;
    height: auto; 
    object-fit: contain;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
    margin: 10rem;
}

.image {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.image:hover {
    transform: scale(1.05);
}

/* Lightbox Modal */
.lightbox {
    position: relative; 
    display: flex;
    width: 60vw;
    height: auto;
    align-items: center;
    justify-content: center;
}


.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}