@import "../../../public/assets/variables.scss";

h1{
    color: $primary;
}

.container{
    margin-top: 10rem;
   
    p{
        font-size: 1.2rem;
        font-weight: 300;
    }
}

.left-arrow-img,
.right-arrow-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
}

.left-arrow-img {
    left: 0.5rem;
}

.right-arrow-img {
    right: 0.5rem;
}


.gallery-container{
    margin: 2rem 10rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.image {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.image:hover {
    transform: scale(1.05);
}

.backgroundBlur {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .popupFormBackground {
        position: fixed;
        top: 50%;
        left: 50%;
        height: auto;
        width: auto;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        .whiteBackground {
            background-color: white;

            span {
                color: grey;
            }

            span:hover {
                color: black;
            }
        }

        .blackBackground {
            background-color: rgb(98, 97, 97);

            span {
                color: #aaaa;
            }

            span:hover {
                color: white;
            }
        }

        .popupForm {
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            padding: 2rem;
            width: 700px;

            .lightbox-container {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }            
            
            .lightbox {
                display: flex;
                max-width: 90vw;
                max-height: 80vh;
                align-items: center;
                justify-content: center;
            }
            
            .lightbox img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                border-radius: 10px;
            }
            
        }

        .class-btn {
            display: inline;
            font-size: x-large;
            font-weight: bold;
        }

        .class-btn:hover {
            cursor: pointer;
        }

        span {
            cursor: pointer;
            position: relative;
            left: 100%
        }
    }
}